@tailwind components;
@tailwind base;
@tailwind utilities;

.performance {
  @apply absolute inset-0 flex text-sm flex flex-col justify-center cursor-pointer h-12;
}

.performance-pill {
  @apply flex flex-col hover:absolute bg-white hover:bg-gray-100 hover:z-30 rounded-md border px-1.5 py-1 transition-all shadow-sm;
}

.performance-pill.selected {
  @apply ring-2 ring-opacity-20 bg-green-400 border-green-500 ring-green-500 text-green-800;
}

.btn {
  @apply border-b-2 py-1 px-1.5 text-gray-400 text-sm;
}


.btn.selected {
  @apply text-black border-b-blue-500;
}
